
/* 프로젝트 리스트 스타일 */

.project {
    width: 940px;
    height: 637px;
    margin: 0 auto;
    padding-left: 10px;
}

.project_row {
    margin-bottom: 10px;
}

.project_img {
    width: 224px;
    height: 150px;
    margin-right: 10px;
}